@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eaeaea;
}


header{
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0099ff;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  color: white;
  }
  
  header ul{
  position: relative;
  display: flex;
  }
  
  header ul li{
  position: relative;
  list-style: none;
  }
  
  header ul li a{
  position: relative;
  padding: 10px 15px;
  color: white;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-family: Roboto;
  }
  
  header ul li a:hover{
  border-bottom: 3px solid red;
  color: red;
  }

  .wrapper .header {
    background: #0099ff;
  }

  .wrapper .title {
    padding: 50px 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    z-index: 2;
  }


a{
  text-decoration: none;
}

body{
  max-height: 100vh;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #ccc;
}

h2{
  color: black;
  text-align: center;
  width:100%;
}
