a{
  text-decoration: none;
}

body{
  max-height: 100vh;
}

#gmap {
  padding: 0 15px;
}

img{
  display: inline-block;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #ccc;
}

h2{
  color: rgb(255, 0, 0);
}
