@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap"); 

body{
    margin: 0px;
    padding: 0px;
    background: url(../img/DR.jpg);
    background-size: cover;
}

.container{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    padding: 0px 50px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 25px;
    box-sizing:border-box;
}
.container .box{
    background: #fff;
    position: relative;
    padding: 30px 50px 50px 50px;
    margin: 200px 0px 0px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s;
}

.container .box:nth-child(1){
    background: linear-gradient(45deg,rgb(3, 110, 183,0.8),rgb(100, 234, 255,0.8));
}
.container .box:nth-child(2){
    background: linear-gradient(45deg,rgb(3, 110, 183,0.8),rgba(100, 234, 255, 0.8));
}
.container .box:nth-child(3){
    background: linear-gradient(45deg,rgb(3, 110, 183,0.8),rgb(100, 234, 255,0.8));
}
.container .box:nth-child(4){
    background: linear-gradient(45deg,rgb(3, 110, 183,0.8),rgb(100, 234, 255,0.8));
}

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
scroll-behavior: smooth;
}

header{
position: fixed;
width: 100%;
height: 75px;
padding: 0px 100px;
display: flex;
justify-content: space-between;
align-items: center;
background: #0099ff;
z-index: 1;
font-family: "Montserrat", sans-serif;
}

header ul{
position: relative;
display: flex;
}

header ul li{
position: relative;
list-style: none;
}

header ul li a{
position: relative;
padding: 10px 15px;
color: white;
display: inline-block;
text-decoration: none;
cursor: pointer;
font-weight: 400;
font-family: Roboto;
}

header ul li a:hover{
border-bottom: 3px solid red;
color: red;
}

.box::after{
      content: '';
      display: block;
      width:0px;
      height: 2px;
      background: #000;
      transition: width .3s ease;
}

.box:hover::after{
    width: 100%;
    transition: width .3s;
}

a{
    text-decoration: none;
}

.wave{
    position: absolute;
    left:0;
    right:0;
    z-index: -1;
}

.box:hover{
    transform: scale(0.8);
}

section{
    align-items: center;
    display: flex;
    min-height: 100vh;
  }

#Team{
    background: #fff;
  }

  .card{
    width: 100%;
    height: 100vh;
  }
  
    .card-container{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 100px;
    }
  
    .card-item{
      position: relative;
      width: 300px;
      background-color: #f2f2f2;
      margin: 30px;
      border-radius: 30px;
      box-shadow: 0 8px 20px 10px rgba(89,56,49, .16);
      overflow: hidden;
      z-index: 0;
      transition: all .3s;
      border: 0px solid rgba(255,255,255,.3) ;
    }
  
    .card-header{
      width: 100%;
      position: relative;
    }
      .card-header__bg{
        width: calc(100% + 50px);
        height: 240px;
        border-radius: 50%;
        margin-left: 50%;
        margin-top: -50%;
        transform: translateX(-50%);
        z-index: 22;
        box-shadow: 0 0 28px 10px rgba(10, 163, 234, 0.3);
        background-image: linear-gradient(#3333ff,#0099ff);
  
      }
  
      .card-header__img{
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-50px);
        padding: 0;
        visibility: visible;
        border: 0px solid rgba(255,255,255,.6);
        display: block;
        box-shadow: 0px 9px 28px 8px rgba(93,93,93,0.2);
        transition: all .5s;
  
      }
  
      .card-header__text{
        width: 100%;
        margin-top: -30px;
      }
  
      .card-header__name{
        text-align: center;
        display: block;
        font-weight: 700;
        font-size: 20px;
        color: #565656;
        letter-spacing: 1px;
      }
  
      .card-header__job{
        text-align: center;
        display: block;
        color: #525151;
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 1.6;
        margin: 10px 0px 30px;
      }
  
    .card-process{
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 268px;
      left: 50%;
      transform: translate(-50%);
    }

    .process__item{
        display: flex;
        align-content: center;
        flex-direction: column;
        font-weight: 700;
        text-decoration: none;
      }
  
      .process-icon{
        margin-left: auto;
        margin-right: auto;
        color: rgba(121, 121, 121, 0.69);
        font-size: 20px;
        margin-bottom: 5px;
        transition: all ease-in-out .3s;
      }
     .follow:hover{
            opacity: .6;
    }
  
     .message:hover{
            color: #4bd616;
            opacity: .6;
          }
  
    .process-txt{
        text-align: center;
        color: #0099ff;
        font-size: 13px;
        font-weight: 700;
      }
  
      .follow{
        color: #005cbf;
      }
  
    .card-social{
      display: flex;
      justify-content: center;
      background-color: #f5f4f7;
      height: 50px;
      border-top: 1px solid #d6d6d6;
    }
  
    .card-social__item{
        width: 45px;
        height: 40px;
        margin: auto 3px;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
      }
  
    .card-social__icon{
        top: 50%;
        position: relative;
        transform: translate(-50%, -50%);
        font-size: 24px;
        display: inline-block;
        left: 50%;
        color: #b5b4b4;
        transition: all ease-in-out .3s;
    }
        .facebook:hover{
            color: #3b5998;
          }
        
        .linkedin:hover{
            color: #00aced;
          }
        
         .github:hover{
            color: #6e5494;
          }

/* FOOTER SECTION */

.site-footer
{
  background-color:#0099ff;
  padding:45px 0 20px;
  font-size:20px;
  line-height:24px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#3366cc;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#eceeef;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background-color:#333
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}