@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #ccc;
  line-height: 1.25;
}

/*---------------------------------------- HEADER -----------------------------------------------------*/

header{
  position: fixed;
  width: 100%;
  height: 75px;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  font-family: Roboto;
  background: #0099ff;
  }
  
  header ul{
  position: relative;
  display: flex;
  }
  
  header ul li{
  position: relative;
  list-style: none;
  }
  
  header ul li a{
  position: relative;
  padding: 10px 15px;
  color: white;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: larger;
  font-family: Roboto;
  }
  
  header ul li a:hover{
    border-bottom: 3px solid red;
    color: red;
    }

h1{
  color: white;
}

/*------------------------------------------ SEARCH BOX -------------------------------------------------*/

.wrapper{
  background: #0099ff;
}

.wrapper .search_box {
  max-width: 100%;
  margin: 0 100px;
  padding: 25px 0 70px;
  border-radius: 3px;
}

.wrapper .search_box input {
  border: 0;
  border-bottom: 2px solid #e5edfa;
  width: 100%;
  outline: none;
  padding: 10px;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

::placeholder {
  color: #e5edfa;
}

.wrapper .search_box input:focus {
  border-bottom: 2px solid #fff;
}

/*--------------------------------------------- TABLE ---------------------------------------------------*/

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #fff;
  border: 1px solid #fff;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: 18px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table td{
  font-size: 16px; 
}

.hold {
    background: #fff0db;
    color: #f59d39;
    padding: 15px 50px;
}

.open {
  background: #e5edfa;
  color: #5a8ee4;
  padding: 15px 50px;
}

.closed {
  background: #fedfe5;
  color: #ff89a0;
  padding: 15px 50px;
}

img{
  cursor: pointer;
}

/*------------------------------------------ MEDIA QUERY ----------------------------------------------*/

@media screen and (max-width: 769px) {
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  header{
    padding: 0 20px;
    height: 65px;
    font-size: 18px;
  }
  h1{
    font-size: 18px;
  }
  .wrapper .search_box {
    padding: 100px 0 70px;
  }
}

@media screen and (max-width: 1400px){
  .wrapper .search_box {
    padding: 100px 0 30px;
  }
}