@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap"); 


body{
    margin: 0px;
    padding: 0px;
    background: url(../img/DR.jpg);
    background-size: cover;
}
.container{
    width: 1500px;
    height: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    padding: 0px 50px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 25px;
    box-sizing:border-box;
}
.container .box{
    background: #fff;
    position: relative;
    padding: 30px 50px 50px 50px;
    margin: 200px 0px 0px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s;
}

.container .box:nth-child(1){
    background: linear-gradient(45deg,rgb(3, 110, 183,0.8),rgb(100, 234, 255,0.8));
}
.container .box:nth-child(2){
    background: linear-gradient(45deg,rgb(3, 110, 183,0.8),rgba(100, 234, 255, 0.8));
}
.container .box:nth-child(3){
    background: linear-gradient(45deg,rgb(3, 110, 183,0.8),rgb(100, 234, 255,0.8));
}
.container .box:nth-child(4){
    background: linear-gradient(45deg,rgb(3, 110, 183,0.8),rgb(100, 234, 255,0.8));
}

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
scroll-behavior: smooth;
}

header{
position: fixed;
width: 100%;
height: 75px;
padding: 0px 100px;
display: flex;
justify-content: space-between;
align-items: center;
background: #0099ff;
z-index: 1;
font-family: "Montserrat", sans-serif;
}

header ul{
position: relative;
display: flex;
}

header ul li{
position: relative;
list-style: none;
}

header ul li a{
position: relative;
padding: 10px 15px;
color: white;
display: inline-block;
text-decoration: none;
cursor: pointer;
font-weight: 400;
font-family: Roboto;
}

header ul li a:hover{
border-bottom: 3px solid red;
color: red;
}

.box::after{
      content: '';
      display: block;
      width:0px;
      height: 2px;
      background: #000;
      transition: width .3s ease;
}

.box:hover::after{
    width: 100%;
    transition: width .3s;
}

a{
    text-decoration: none;
}

.wave{
    position: absolute;
    left:0;
    right:0;
    z-index: -1;
}

.box:hover{
    transform: scale(0.8);
}

section{
    align-items: center;
    display: flex;
    min-height: 100vh;
  }

#Team{
    background: #fff;
  }

footer{
      background: rgb(255, 255, 255);
      text-decoration: none;
      color: black;
}

.con{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 300px;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 500px;
    perspective: 800;
    -webkit-perspective: 800;
    font-family: 'Inconsolata', monospace;
}

.card{
    background: #fff;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
    transition: all 2s ease;
    border-radius: 10px;
    box-shadow: 10px 10px #68666b,
                -10px -10px #68666b;
}

.card:hover{
    transform: rotateY(180deg);

}

.back{
    background: white;
    position: relative;
    bottom: 325px;
    transform: rotateY(180deg);
}

.front,.back{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.backside{
    font-weight: 700;
    font-family: 'Inconsolata', monospace;
    margin: 5px 15px;
}

#Team{
    padding: 40px;
}

.name{
    margin: 40px 20px 0px 60px;
    border-radius: 50%;
}

.front{
    background-size: 20px;

}

.icons{
    margin: 0 30px;
}
.con1{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 300px;
    position: absolute;
    margin: auto;
    left: 500px;
    bottom:0px;
    perspective: 800;
    -webkit-perspective: 800;
    font-family: 'Inconsolata', monospace;
}

.custom-shape-divider-top-1599319301 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1599319301 svg {
    position: relative;
    display: block;
    width: calc(100%+ 10px);
    height: 350px;
}

.custom-shape-divider-top-1599319301 .shape-fill {
    fill: #0099FF;
}


/* FOOTER SECTION */

.site-footer
{
  background-color:#0099ff;
  padding:45px 0 20px;
  font-size:20px;
  line-height:24px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#3366cc;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#eceeef;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background-color:#333
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}