a{
  text-decoration: none;
}

.online{
  display: inline-flex;
  text-align: justify;
  width: 100px;
}

img{
  display: block;
  margin: 0 auto;
  float: left;
}

.map{
  float: left;
  width: 50%;
}
