<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        
        <link rel="icon" href="../static/icons/favicon-32x32.png">

        <!-- BOOTSTRAP & JQUERY -->   
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body class="h-100">
        <nav class="navbar navbar-expand-lg bg-dark text-white">
           <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="navbar-brand" style="color: whitesmoke; text-decoration-style: wavy;" href="#">
                        <span style="color: white;">Swasth AI</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" style="color: whitesmoke; text-decoration-style: wavy;" href="#">
                        <span style="color: white;">Home</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" style="color: whitesmoke; text-decoration-style: wavy;" href="#">
                        <span style="color: white;">My Profile</span>
                    </a>
                </li>        
            </ul>
            <div class="dropdown navbar-right">
                <button
                id="option-id" 
                class="btn btn-light dropdown-toggle bg-dark text-white" 
                type="button" 
                data-toggle="dropdown" 
                aria-haspopup="true"
                aria-expanded="false"
                >
                    Options
                </button>
                <div
                   class="dropdown-menu"
                   aria-labelledby="option-id"
                >
                <a class="dropdown-item" id="btn-logout" href="#">
                    Logout
                </a>
                </div>
            </div>
           </div> 
        </nav>
        <div class="row h-100 bg-light">
            <div class="col-lg-0 bg-secondary">
                <ul class="nav flex-column">

                </ul>
            </div>
            <div class="col-lg-12">
                <div class="container" id="container">

                </div>
            </div>
        </div>
    </body>
                <!-- FIREBASE -->
                <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
                <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
                <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>
                <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-storage.js"></script>
                <script>
                    // Your web app's Firebase configuration
                    var firebaseConfig = {
                      apiKey: "AIzaSyAfkFk5yr_SBWm99EB2b3A7oAq5gAOTprY",
                      authDomain: "swasthai-9e4a8.firebaseapp.com",
                      databaseURL: "https://swasthai-9e4a8.firebaseio.com",
                      projectId: "swasthai-9e4a8",
                      storageBucket: "swasthai-9e4a8.appspot.com",
                      messagingSenderId: "164428875159",
                      appId: "1:164428875159:web:c9349dd2a60458aa1df0d2"
                    };
                    // Initialize Firebase
                    firebase.initializeApp(firebaseConfig);

                    var logout=document.getElementById("btn-logout")

                    logout.onclick=function() {
                        firebase.auth().signOut();
                    }
        
                    firebase.auth().onAuthStateChanged(function(user)
                    {
                    if(!user) {
                        window.location.href = '../templates/portal.html';
                    }
                    });
        </script>
    </body>
</html>