<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/pharmastyle.css">
    <link rel="icon" href="../static/icons/favicon-32x32.png">
    <title>Pharmacy</title>
</head>

<body>
    <header id="header">
        <h1 class="TITLE">SWASTH AIO</h1>
        <h1 id="Heading">Finding medicines?</h1>
        <ul>
            <li><a href="../index.html">Home</a></li>
        </ul>
    </header>
    <!-- <div class="wrapper">
        <div class="row">
            <div class="column">
                <h2>Stores Nearby</h2>
                <div class="map">
                    <div class="gmap">
                        <iframe height="505" id="gmap"
                            src="https://maps.google.com/maps?q=pharmacy&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="column">
                <h2 id="online">Online Stores</h2>
                <div class="stores">
                    <table>
                        <tr>
                            <td><a class="names" href="https://www.netmeds.com/" target="_blank"><img
                                        src="../static/img/Netmeds.png" height="100" width="100"></a></td>
                        </tr>
                        <tr>
                            <td><a class="names" href="https://www.1mg.com/" target="_blank"><img
                                        src="../static/img/1mg.png" height="100" width="100"></a></td>
                        </tr>
                        <tr>
                            <td><a class="names" href="https://www.medlife.com/" target="_blank"><img
                                        src="../static/img/Medlife.png" height="100" width="100"></a></td>
                        </tr>
                        <tr>
                            <td><a class="names" href="https://pharmeasy.in/" target="_blank"><img
                                        src="../static/img/Pharmeasy.png" height="100" width="100"></a></td>
                        </tr>
                </div>
            </div>
        </div>
    </div> -->
    <div class="section group">
        <div class="col span_1_of_2">
            <div class="maps">
                <div class="name">
                    <h2>Stores Nearby</h2>
                </div>
                <div class="map">
                    <div class="gmap">
                        <iframe height="505" id="gmap"
                            src="https://maps.google.com/maps?q=pharmacy&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col span_1_of_2">
            <div class="icons">
                <div class="name">
                    <h2 id="online">Online Stores</h2>
                </div>
                <div class="stores">
                    <table>
                        <tr>
                            <td><a class="names" href="https://www.netmeds.com/" target="_blank"><img
                                        src="../static/img/Netmeds.png" height="100" width="100"></a></td>
                        </tr>
                        <tr>
                            <td><a class="names" href="https://www.1mg.com/" target="_blank"><img
                                        src="../static/img/1mg.png" height="100" width="100"></a></td>
                        </tr>
                        <tr>
                            <td><a class="names" href="https://www.medlife.com/" target="_blank"><img
                                        src="../static/img/Medlife.png" height="100" width="100"></a></td>
                        </tr>
                        <tr>
                            <td><a class="names" href="https://pharmeasy.in/" target="_blank"><img
                                        src="../static/img/Pharmeasy.png" height="100" width="100"></a></td>
                        </tr>
                </div>
            </div>
        </div>
    </div>

</body>

</html>